* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body::-webkit-scrollbar{
  display: none;
} 


main, html, body{
  scroll-behavior: smooth;
}


body {
  overflow-x: hidden;
  height: 400vh;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  font-size: 27px;
  line-height: 1.5;   
  width: 100%;
}













/* header */
li > a{
  display: flex;
  width: 100%;
  z-index: 100;
  text-decoration: none;
  font-family: "Koulen", sans-serif;
  font-size: 1.2rem;
  color: rgba(128, 128, 128, 0.51);
}
.menu{
  position: fixed;
  justify-content: space-around;
  width: 100%;
  top: 0;
  display: flex;
  list-style: none;
  z-index: 15;
}
.menu a{
  transform: skew(-15deg);
}
.menu-items {
  margin-left: -15px;
  position: absolute;
  text-decoration: none;
  list-style: none;
  display: none;
}
.menu-items li:nth-child(odd){
  transform: skewX(5deg);
  margin-left: -50px;
  padding-left: 20px;
  width: 170px;
}
.menu-items li:nth-child(odd) > a{
  transform: skewX(5deg);
  padding-left: 20px;
  color: white;
  background-color: rgba(48, 57, 80, 0.998);
}
.menu-items li:nth-child(3) > a, .menu-items li:nth-child(5) > a{
  padding-left: 30px;
}
.menu-items li:nth-child(even){
  transform: skewX(-5deg);
  width: 140px;
  margin-left: -20px;
}
.menu-items li:nth-child(even) > a{
  transform: skewX(-5deg);
  padding-left: 7px;
  color: white;
  background-color: rgba(48, 57, 80, 0.998);
}
.project a:hover{
  background: linear-gradient(to right, #ee1e71, #e96443);
  color: white;
}
.project{
  transition: 0.5s ease;
}
.project:hover .menu-items{
  display: block;
}
.project:hover .menu-items li:nth-child(odd){
  animation: hover_move 0.5s ease forwards;
}
.project:hover .menu-items li:nth-child(even){
  animation: hover_move1 0.5s ease forwards;
}
@keyframes hover_move{
  0%{
    transform: translateX(0px);
  }
  100%{
    transform: translateX(-20px);
  }
}
@keyframes hover_move1{
  0%{
    transform: translateX(0px);
  }
  100%{
    transform: translateX(20px);
  }
}
#fourth{
  width: 180px;
}
.slides{
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  top: 320px;
}
.slide{
  position: absolute;
  height: 140px;
  width: 100%;
  --mask:
    radial-gradient(59.46px at 50% 84px,#000 99%,#0000 101%) calc(50% - 80px) 0/160px 51% repeat-x,
    radial-gradient(59.46px at 50% -44px,#0000 99%,#000 101%) 50% 40px/160px calc(51% - 40px) repeat-x,
    radial-gradient(59.46px at 50% calc(100% - 84px),#000 99%,#0000 101%) calc(50% - 80px) 100%/160px 51% repeat-x,
    radial-gradient(59.46px at 50% calc(100% + 44px),#0000 99%,#000 101%) 50% calc(100% - 40px)/160px calc(51% - 40px) repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}
#matrix{
  width: 100%;
}











/* main */
#fm{
  position: fixed;
  width: 100%;
  top: 0;
}
.about {
  height: 100vh;
  display: flex;
  margin-left: -50%;
  justify-content: center;
  font-size: 30px;
  align-items: center;
  font-family: "Koulen", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: transparent;
  background: linear-gradient(to right, #ee1e71, #ca4d2d);
  background-clip: text;
  margin-top: -90px;
  z-index: 10;
}
p > a {
  overflow: hidden;
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: rgb(255, 0, 106);
  margin-left: 10px;
  width: 200px;
  border-radius: 30px;
  padding-left: 10px;
  vertical-align: top;
  font-family: "Koulen", sans-serif;
  font-weight: 400;
  font-style: normal;
}
a::before,
a::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
}

p > a::before {
  background-color: #54b3d6;
  height: 2px;
  bottom: 4px;
  transform-origin: 100% 50%;
  transform: scaleX(0);
  animation: scaleXAnimation 6s ease-in-out infinite;
}

a::after {
  content: attr(data-replace);
  height: 100%;
  top: 0;
  transform-origin: 100% 50%;
  transform: translate3d(200%, 0, 0);
  color: #54b3d6;
}
p > a span {
  display: inline-block;
  animation: spanAnimation 12s ease-in-out infinite;
}
@keyframes scaleXAnimation {
  0%,
  100% {
    transform: scaleX(0, 0, 0);
    width: 185px;
  }
  25%,
  50% {
    width: 200px;
    transform: scaleX(1);
  }
}
@keyframes spanAnimation {
  0%,
  100% {
    opacity: 0;
    transform: translate3d(190%, 0, 0); /* Start off-screen left */
  }
  15%,
  50% {
    opacity: 1;
    transform: translate3d(0, 0, 0); /* Center text */
  }
  85%,
  99% {
    opacity: 0;
    transform: translate3d(1290%, 0, 0); /* Move off to the left */
  }
}

@keyframes textChange {
  0%,
  35% {
    opacity: 0;
    transform: translate3d(-600%, 0, 0);
  }
  60%,
  75% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(-190%, 0, 0);
  }
}

a::after {
  width: 320px;
  animation: textChange 12s ease-in-out infinite;
}
*::selection {
  color: purple;
  background: pink;
  -webkit-text-fill-color: purple;
}
h1 {
  font-size: 3rem;
}
h1 {
  background: #e96443; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #904e95, #e96443);
  background: linear-gradient(to right, #904e95, #e96443);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#animated-icon {
  position: absolute;
  pointer-events: none; /* allow the cursor to pass through the icon */
}
section > iframe{
  width: 720px;
  height: 720px;
  transform: scale(0.7);
  top: -675px;
  left: -2%;
  position: absolute;
  display: block;
  z-index: 0;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.corner-top-left {
  position: absolute;
  top: -525px;
  left: 240px;
  width: 390px;
  transform: scale(0.6);
  height: 20px;
  background-color: rgb(255, 0, 38);
  border-top-left-radius: 10px;
  clip-path: polygon(0 0, 100% 0, 100% 100%);
  transform: fl;
}
.corner-bottom-right {
  transform: scale(0.6);
  position: absolute;
  top: -65px;
  bottom: -5px;
  right: -60px;
  width: 350px;
  clip-path: polygon(0 0, 100% 0, 0 100%);
  height: 20px;
  background-color: rgb(255, 0, 38);
  border-bottom-right-radius: 10px;
}
#ifa{
  left: 17%; 
  top: 100px;
  position: relative;
  height: 900px;
  width: 320px;
}
.skill-panel{
  position: sticky;
  top: 0px;
  z-index: 100;
  margin-top: 725px;
  scroll-behavior: smooth;
  border-top-right-radius: 90px;
}
.board::after{
  content: "";
  width: 100%;
  height: 470px;
  top: 510px;
  position: absolute;
  transform: scale(1);
  background-color: white;
  left: 0;
  z-index: 10; 
  right: 0;
}
.board{
  height: 100vh;
  overflow: hidden;
  box-shadow: 12px 10px 10px black;
  background-color: black;
}
.board2,
.board3,
.board4{
  scroll-behavior: smooth;
  height: 100vh;
  border-top-right-radius: 90px;
  overflow: hidden;
}
.board2{
  margin-top: -420px;
  background-color: pink;
}
.board3{
  height: 100vh;
  margin-top: -590px;
  background-color: red;
}
.board4{
  background-color: aqua;
  height: 39vh;
  border-top-left-radius: 90px;
  margin-top: -750px;
  width: 100%;
}
.introduction{
  font-family: "Koulen", sans-serif;
  font-size: 1.2rem;
  width: 100%;
  top: -70px;
  position: relative;
}
.introduction > span{
  top: 200px;
  font-size: 2rem;
  left: 45px;
  position: absolute;
}
.introduction > span:nth-child(2){
  font-size: 4rem;
  margin-top: 20px;
}
.sign > i{
  color: red;
}
.sign:nth-child(2) > i{
  color: rgb(82, 82, 238);
}
.sign:nth-child(2) .dataskill{
  width: 60%;
}
.sign:nth-child(3) .dataskill{
  width: 30%;
}
.sign:nth-child(3) > i{
  color: rgb(252, 252, 6);
  background-color: rgb(55, 23, 184);
  height: 23px; 
}
.sign:nth-child(4) > i{
  color: transparent;
  background: linear-gradient(to top, red, blue);
  background-clip: text;
}
.sign:nth-child(4) .dataskill{
  width: 20%;
}
.sign:nth-child(5) > i{
  color: rgb(170, 21, 170);
}
.sign:nth-child(5) .dataskill{
  width: 10%;
}
.sign:nth-child(6) > i{
  background: linear-gradient(140deg, rgb(50, 50, 246), rgba(50, 50, 246, 0.686), rgb(252, 252, 0), rgb(252, 252, 0));
  background-clip: text;
  color: transparent;
}
.sign:nth-child(6) .dataskill{
  width: 20%;
}
.sign:nth-child(7) > i{
  color: rgb(16, 171, 192);
}
.sign:nth-child(7) .dataskill{
  color: #ee1e71;
  width: 0;
  left: 5%;
}
.sign:nth-child(8) .dataskill{
  color: #ca4d2d;
  width: 0%;
  left: 5%;
}
.sign{
  margin: 7px 0px 0px 20px;
  position: relative;
}
.data{
  width: 80%;
  margin: auto;
  height: 20px;
  border: none;
  border-radius: 5px;
  outline: none;
}
.dataskill{
  width: 70%;
  color: white;
  height: 100%;
  border-top-right-radius: 10px;
  background-color: rgb(255, 0, 34);
  position: relative;
}
.dataskill > span{
  position: absolute;
  display: flex;
  top: -2px;
  font-family: "Koulen", sans-serif;
  margin-left: 40%;
}
.sign{
  perspective: 1px;
}
video{
  transition: 10s;
  position: absolute;
  transform: scale(0.3);
  margin-top: -1120px;
  margin-left: -390px;
}
.article{
  position: absolute;
  top: 90px;
  width: 100%;
  right: -320px;
  font-family: "Koulen", sans-serif;
  font-size: 1.7rem;
  color: white;
}
.article > span > span:nth-child(1){
  font-size: 20px;
  margin-top: 22px;
  position: absolute;
}
.typing{
  position: absolute;
  color: red;
}
.swiper {
  width: 240px;
  position: absolute;
  height: 320px;
  margin-top: 180px;
}
.swiper-wrapper{
  margin-left: 90px;
}
.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}
.swiper-slide:nth-child(1n) {
  background: white;
}
.swiper-slide:nth-child(2n) {
  background-color: rgb(0, 140, 255);
}
.swiper-slide:nth-child(3n) {
  background-color: rgb(10, 184, 111);
}
.swiper-slide:nth-child(4n) {
  background-color: rgb(211, 122, 7);
}
.swiper-slide:nth-child(5n) {
  background-color: rgb(118, 163, 12);
}
.swiper-slide:nth-child(6n) {
  background-color: rgb(180, 10, 47);
}
.swiper-slide:nth-child(7n) {
  background-color: rgb(35, 99, 19);
}
.swiper-slide:nth-child(8n) {
  background-color: rgb(0, 68, 255);
}
.swiper-slide:nth-child(9n) {
  background-color: rgb(218, 12, 218);
}
.swiper-slide:nth-child(10n) {
  background-color: rgb(54, 94, 77);
}












/* footer */
.song{
  position: absolute;
  width: 65px;
  height: 40px;
  bottom: 10px;
  right: 90px;
  cursor: pointer;
  z-index: 2100;
  background-color: white;
  border-radius: 40px;
  transition: 1s ease;
  position: fixed;
}
.song > i{
  color: transparent;
  background: linear-gradient(to right, #ee1e71, #ca4d2d);
  background-clip: text;
  margin-left: 23px;
  top: 3px;
}
.song > .sg{
  color: transparent;
  background: linear-gradient(to right, #ee1e71, #ca4d2d);
  background-clip: text;
  font-size: 20px;
  z-index: 4200;
  top: 6px;
  left: 85px;
  font-family: "Koulen", sans-serif;
  font-weight: 400;
  font-style: normal;
  position: absolute;
}
#close{
  top: 5px;
  position: absolute;
}








/* media */
@media only screen and (min-width: 1280px){
  section > iframe{
    transform: scale(1.3);
    left: 95%;
  }
  .about{
    margin-left: -64%;
  }
  .introduction{
    left: 80px;
  }
  .corner-bottom-right{
    top: -70px;
    left: 90px;
    transform: rotate(-95deg);
    width: 220px;
  }
  .corner-top-left{
    left: 1020px;
    width: 220px;
    transform: rotate(95deg);
    top: -70px;
  }
}
@media (max-width: 440px) {
  li > a{
  font-size: 1rem;
  } 
  .menu{
  left: -20px;
  }
  #fm{
    margin-top: 120px;
  }
  .introduction{
    margin-top: -40px;
    margin-left: -15px;
  }
  .about{
    margin-top: -160px;
    margin-left: -90px;
  }
  #ifa{
    left: -27%;
    top: 70px;
    position: relative;
    height: 400px;
    width: 170px;
    transform: scale(0.9);
  }
  body::-webkit-scrollbar
  {
    display: none;
  }
  html, body{
    scroll-behavior: smooth;
  }
  .slides{
    margin-top: 230px;
    border: none;
  }
  .corner-bottom-right, .corner-top-left{
    display: none;
  }
  section > .board{
    position: sticky;
    top: 0; 
    background-color: black;
    padding: 20px;
  }
  #skill-panel{
    height: 300vh;
    background-color: black;
    margin-top: 910px;
    position: absolute;
    right: 0;
    z-index: 100;
    left: 0;
  }
  #skill-panel2{
    margin-top: 1920px;
  }
  #skill-panel3{
    margin-top: 2400px;
    position: sticky;
    border-top-right-radius: 90px;
  }
  #skill-panel2, #skill-panel3, #skill-panel4{
    height: 200vh;
    position: absolute;
    right: 0;
    top: -120px;
    z-index: 100;
    left: 0;
    background-color: transparent;
  }
  .board2,
  .board3,
  .board4{
    background-color: blue;
    border-top-right-radius: 90px;
    height: 100vh;
    position: sticky;
    top: 0; 
    padding: 20px;
  }
  .board2::after{
    right: 0;
    left: 0;
    top: 0px;
    border-top-right-radius: 90px;
    content: "";
    width: 100%;
    height: 220px;
    background-color: blue;
    filter: blur(10px);
    z-index: 1200;
    position: absolute;

  }
  .board3{
    border-top-right-radius: 90px;
    background-color: pink;
    height: 130px;
  }
  .board4{
    background-color: red;
  }
  #skill-panel3{
    height: 190vh;
    margin-top: 2755px;
  }
  #skill-panel4{
    height: 39vh;
    margin-top: 3230px;
    border-radius: 65px 65px 0px 0px;
    background-color: red;
  }
  #skill-panel,
  #skill-panel1,
  #skill-panel2,
  #skill-panel3
  {
    scroll-behavior: smooth;
  }
  
  
  
  
  
  
  
  
}
@media only screen and (device-width: 428px){
  .about{
    margin-top: -200px;
  }
}
